.ingredients {}

.ingredients-title {}

.ingredients-list {}

.ingredients-items {}

.ingridiens-ill {}

.ingredients-caption {
    font-weight: 600;
    font-size: inherit;
    text-transform: uppercase;
}