.made {}

.made-title {}

.made-left-side{
    border-radius: 16px;
    overflow: hidden;
}
.made-ill {}

.made-wrapper{
    display: flex;
    gap: 20px;
}
.made-caption {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    max-width: 350px;
    margin-bottom: 28px;
}
.made-right-side{
    border-radius: 15px;
    padding: 32px;
    width: 516px;
    background-color: #fff;
}
.made-list {
}

/* ВСІ КРІМ ОСТАТНЬОГО ЕЛЕМЕНТА */

.made-iteam:not(:last-child) {
    margin-bottom: 24px;
}
.made-iteam{
    display: flex;
    gap: 8px;
}
.made-iteam::before{
    content: '';
    flex-shrink: 0;
    display: block;
    margin-top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #eceded;
    background-color: #4c4c4c;
}